<%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% @pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :user_id, hidden: true, value: current_user.id %>
  
  <div class="field form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
   <div class="field form-group">
    <%= f.number_field :level, class: "form-control", placeholder: "Level" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
