<div class="container">
  <% if notice -%>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end -%>

  <%= image_tag @sprite_url %>
  <p>
    <strong>Dex number:</strong>
    <%= @pokemon.dex_number %>
  </p>

  <p>
    <strong>Types</strong>
    <%= @pokemon.type_1 %><% if @pokemon.type_2 %><%= ", #{@pokemon.type_2}" %><% end %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @pokemon.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @pokemon.level %>
  </p>

  <%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
  <%= link_to 'Back', '/' %>
</div>
