<!DOCTYPE html>
<html>
<head>
  <title>MyPokemonCollection</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'flat-ui.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'flat-ui.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'theme', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pokemon', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if ["home", "pokemons"].include? params[:controller] -%>
    <%= render "layouts/nav" %>
  <% end -%>
  <%= yield %>
  <% if ["home", "pokemons"].include? params[:controller] -%>
    <%= render "layouts/footer" %>
  <% end -%>
</body>
</html>
